$theme-color: #ca583a;
$theme-background: #f5f0ec;
$light-grey: #e0e0e0;
$sections-bkg: #fcfbf3;
$text-color: #000;

@mixin section-title {
    text-align: center;
    font-weight: normal;
    color: $text-color;
};


body {
    &.customer-logged-in {
        * {
            font-family: "Open Sans", sans-serif;
        }    
    }    
}

h1 {
    font-size: 1.8rem;
    @media screen and (min-width:768px) {
        font-size: 2.6rem; 
    } 
}

h2 {
    font-size: 2rem;
}

.u-color--primary {
    color: $theme-color;
}

.c-header,
.c-portal__main,
.c-subscription__outer,
.c-portal__languagePickerWrap,
.c-subscription__inner {
    background-color: $theme-background;
}

.c-portal__languagePickerWrap {
    padding: 0;
}

.c-header {
    margin-top: 20px;
    
    nav {
        border-bottom: 1px solid #000;
    }

    .c-header__navLink-middle {
        a {
            padding: 20px 25px;
            margin: 0 0 -3px;
            
            &:hover {
                border-color: $theme-color;
            }

            &.nuxt-link-exact-active {            
                border-color: $theme-color;
            }
        }
    }

    .c-header__backToAccount {
        border: none;
    }

    .c-header__button {
        background: $light-grey;
        border-radius: 0px;
        
        &:hover {
            background: $theme-color;
            border-color: $theme-color;
            color: #fff;
        }
    }
}

.c-subscriptionHeadline__title {
    font-size: 28px;
}
.c-subscriptionHeadline__button-contain {
    margin-left: 0;
    margin-right: 0;
}


.c-button {        
    align-items: center;
    background: $theme-color;
    border-color: $theme-color;
    color: #fff;
    height: 48px;

    &:hover,
    &:focus {
        background: $theme-color;
        border-color: $theme-color;
    }
}

.c-button--transparent,
button[class*=active] ~ .c-button {
    background: transparent;
    color: $text-color;
}

[class*=c-button] {
    border-radius: 0;
}

.c-button--transparent {
    &:hover,
    &:focus {
        border-color: $theme-color;
    }
}

.c-button--primary {
    background: $theme-color;
    text-transform: uppercase;    

    &:hover {
        background: $theme-color;
        border-color: $theme-color;
    }
}

.c-button--alt {
    background: $theme-color;
    border-color: $theme-color;
    color: #fff;
}

.c-subscriptionHeadline__button {
    border-color: $theme-color;
    background: transparent;
    color: $text-color;

    &.c-subscriptionHeadline__button--active,
    &:hover {        
        background: $theme-color;
        border-color: $theme-color;
    }
}
.c-subscriptionBlock__sectionTitle,
.c-productsGrid__title {
    @include section-title;
}

.c-productsGrid__inner,
.c-subscriptionBlock__inner {
    background: $sections-bkg;
    border: none;
}

.c-productsGrid__link-contain {
    .c-productsGrid__link--active {
        font-weight: normal;
        border-bottom: 2px solid $theme-color;
    }
}

.c-drawerDeliveryFrequency__options {
    button {
        &:active, &:focus, &:hover {
            border-color: $theme-color;
        }
    }
}

.c-form__submitButton {
    background: $theme-color;
}

.c-checkboxLabel {
    input:checked ~ .checkmark {
        background-color: $theme-color;
    }
}   

.c-drawerEditAddress {
    input[type='text'],
    input[type='email'],
    select {
        padding: 20px 20px 0;
    }

    input[type='search'] {
        display: none;
    }

    .c-addressCancelButton {
        background: $light-grey;
        border-color: $light-grey;
    }
}

.c-headerTablet__menu,
.header-portal {
    .c-header__menu {
        color: $theme-color;        
        border-color: #ccc;
        background: $sections-bkg;
        color: $text-color;

        .c-header__selected {
            font-weight: normal;                        
        }

        .c-menuSelect__nav {
            border: none;

            .c-menuSelect__navLink {
                border: 1px solid #ccc;
                border-bottom: none;
                background: $sections-bkg;

                &:last-child {
                    border-bottom: 1px solid #ccc;
                }

                &.c-menuSelect__navLink--active {
                    background: $theme-color;
                }
            }
        }
    }
}

.c-shippingMethodItem__inner {
    &:hover {
        border-color: $theme-color;
    }
}
.c-option__select--picked {
    background-color: $theme-color;
}

.c-drawerLogic__nextOrderWarning {
    color: $theme-color;
}

input[type='text'],
input[type='email'], 
input[type='tel'], 
input[type='password'], 
input[type='search'], 
input[type='number'], 
textarea, 
select {
    padding-bottom: 0;
    font-size: 1.2rem;
    height: 46px;
}

.c-formGroup.c-formGroup--focused .c-formGroup__label, 
.c-formGroup.c-formGroup--hasValue .c-formGroup__label {
    top: 0;
}

.c-formGroup {
    flex-direction: row;
}




// MOBILE SIZE
@media only screen and (max-width: 768px) {
    .c-headerTop {
        .c-headerActions {
            background: $theme-background !important;

            > a,
            > span {
                color: $text-color !important;
            }
        }
    }

    .u-mt-4 {
        background: $theme-background;
        margin: 0;
        padding-bottom: 20px;
    }

    .c-billingAddressForm {
        input[type='text'],
        input[type='email'],
        select {
            font-size: 1rem;
            padding: 20px 20px 0;
        }
        
        input[type='search'] {
            display: none;
        }
    }
}