body.customer-logged-in * {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
}

h2 {
  font-size: 2rem;
}

.u-color--primary {
  color: #ca583a;
}

.c-header,
.c-portal__main,
.c-subscription__outer,
.c-portal__languagePickerWrap,
.c-subscription__inner {
  background-color: #f5f0ec;
}

.c-portal__languagePickerWrap {
  padding: 0;
}

.c-header {
  margin-top: 20px;
}

.c-header nav {
  border-bottom: 1px solid #000;
}

.c-header .c-header__navLink-middle a {
  padding: 20px 25px;
  margin: 0 0 -3px;
}

.c-header .c-header__navLink-middle a:hover {
  border-color: #ca583a;
}

.c-header .c-header__navLink-middle a.nuxt-link-exact-active {
  border-color: #ca583a;
}

.c-header .c-header__backToAccount {
  border: none;
}

.c-header .c-header__button {
  background: #e0e0e0;
  border-radius: 0px;
}

.c-header .c-header__button:hover {
  background: #ca583a;
  border-color: #ca583a;
  color: #fff;
}

.c-subscriptionHeadline__title {
  font-size: 28px;
}

.c-subscriptionHeadline__button-contain {
  margin-left: 0;
  margin-right: 0;
}

.c-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ca583a;
  border-color: #ca583a;
  color: #fff;
  height: 48px;
}

.c-button:hover, .c-button:focus {
  background: #ca583a;
  border-color: #ca583a;
}

.c-button--transparent,
button[class*=active] ~ .c-button {
  background: transparent;
  color: #000;
}

[class*=c-button] {
  border-radius: 0;
}

.c-button--transparent:hover, .c-button--transparent:focus {
  border-color: #ca583a;
}

.c-button--primary {
  background: #ca583a;
  text-transform: uppercase;
}

.c-button--primary:hover {
  background: #ca583a;
  border-color: #ca583a;
}

.c-button--alt {
  background: #ca583a;
  border-color: #ca583a;
  color: #fff;
}

.c-subscriptionHeadline__button {
  border-color: #ca583a;
  background: transparent;
  color: #000;
}

.c-subscriptionHeadline__button.c-subscriptionHeadline__button--active, .c-subscriptionHeadline__button:hover {
  background: #ca583a;
  border-color: #ca583a;
}

.c-subscriptionBlock__sectionTitle,
.c-productsGrid__title {
  text-align: center;
  font-weight: normal;
  color: #000;
}

.c-productsGrid__inner,
.c-subscriptionBlock__inner {
  background: #fcfbf3;
  border: none;
}

.c-productsGrid__link-contain .c-productsGrid__link--active {
  font-weight: normal;
  border-bottom: 2px solid #ca583a;
}

.c-drawerDeliveryFrequency__options button:active, .c-drawerDeliveryFrequency__options button:focus, .c-drawerDeliveryFrequency__options button:hover {
  border-color: #ca583a;
}

.c-form__submitButton {
  background: #ca583a;
}

.c-checkboxLabel input:checked ~ .checkmark {
  background-color: #ca583a;
}

.c-drawerEditAddress input[type='text'],
.c-drawerEditAddress input[type='email'],
.c-drawerEditAddress select {
  padding: 20px 20px 0;
}

.c-drawerEditAddress input[type='search'] {
  display: none;
}

.c-drawerEditAddress .c-addressCancelButton {
  background: #e0e0e0;
  border-color: #e0e0e0;
}

.c-headerTablet__menu .c-header__menu,
.header-portal .c-header__menu {
  color: #ca583a;
  border-color: #ccc;
  background: #fcfbf3;
  color: #000;
}

.c-headerTablet__menu .c-header__menu .c-header__selected,
.header-portal .c-header__menu .c-header__selected {
  font-weight: normal;
}

.c-headerTablet__menu .c-header__menu .c-menuSelect__nav,
.header-portal .c-header__menu .c-menuSelect__nav {
  border: none;
}

.c-headerTablet__menu .c-header__menu .c-menuSelect__nav .c-menuSelect__navLink,
.header-portal .c-header__menu .c-menuSelect__nav .c-menuSelect__navLink {
  border: 1px solid #ccc;
  border-bottom: none;
  background: #fcfbf3;
}

.c-headerTablet__menu .c-header__menu .c-menuSelect__nav .c-menuSelect__navLink:last-child,
.header-portal .c-header__menu .c-menuSelect__nav .c-menuSelect__navLink:last-child {
  border-bottom: 1px solid #ccc;
}

.c-headerTablet__menu .c-header__menu .c-menuSelect__nav .c-menuSelect__navLink.c-menuSelect__navLink--active,
.header-portal .c-header__menu .c-menuSelect__nav .c-menuSelect__navLink.c-menuSelect__navLink--active {
  background: #ca583a;
}

.c-shippingMethodItem__inner:hover {
  border-color: #ca583a;
}

.c-option__select--picked {
  background-color: #ca583a;
}

.c-drawerLogic__nextOrderWarning {
  color: #ca583a;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='search'],
input[type='number'],
textarea,
select {
  padding-bottom: 0;
  font-size: 1.2rem;
  height: 46px;
}

.c-formGroup.c-formGroup--focused .c-formGroup__label,
.c-formGroup.c-formGroup--hasValue .c-formGroup__label {
  top: 0;
}

.c-formGroup {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.c-button--danger {
  background: transparent;
  color: red;
  border-color: transparent;
}

.c-button--danger:hover {
  border-color: red;
  background: transparent;
}

@media only screen and (max-width: 768px) {
  .c-headerTop .c-headerActions {
    background: #f5f0ec !important;
  }
  .c-headerTop .c-headerActions > a,
  .c-headerTop .c-headerActions > span {
    color: #000 !important;
  }
  .u-mt-4 {
    background: #f5f0ec;
    margin: 0;
    padding-bottom: 20px;
  }
  .c-billingAddressForm input[type='text'],
  .c-billingAddressForm input[type='email'],
  .c-billingAddressForm select {
    font-size: 1rem;
    padding: 20px 20px 0;
  }
  .c-billingAddressForm input[type='search'] {
    display: none;
  }
}
/*# sourceMappingURL=upscribe_subscription_style.css.map */